/* ----------------- */
/* Custom Properties */
/* ----------------- */
@layer reset, base;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  p,
  li {
    text-wrap: wrap;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    /* Fonts and Font Sizes */
    --ff-primary: 'Space Mono', monospace;

    --fs-300: 0.813rem;
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 1.625rem;
    @media (width > 36rem) {
      --fs-300: 0.938rem;
      --fs-400: 1rem;
      --fs-500: 1.625rem;
      --fs-600: 1.375rem;
    }
    /* Colors */
    /* light-mode */
    --clr-white: hsl(0, 0%, 100%);
    --clr-offwhite: hsl(227, 100%, 98%);
    --clr-blue-primary: hsl(212, 100%, 50%);
    --clr-gray: hsl(217, 20%, 51%);
    --clr-blue-secondary_old: hsl(217, 35%, 45%);
    /* Adjusted primary body text color (light mode) for better contrast */
    --clr-blue-secondary: hsl(217, 48%, 33%);
    --clr-lm-dark: hsl(217, 21%, 21%);

    --clr-alert: hsl(0, 92%, 62%);

    /* dark mode */
    /* active state search btn - both modes */
    --clr-blue-secondary__active: hsl(212, 100%, 69%);
    --clr-dm-dark: hsl(220, 40%, 13%);
    --clr-dm-primary: hsl(222, 41%, 20%);
    /* box shadow */
    --box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.2); /* 0.2 */

    --shadow-dark: 0px 16px 30px -10px hsla(212, 22%, 35%, 0.15); /* 0.15 */

    /* Focus */
    --focus-outline-color: currentColor;
    --focus-outline-width: 2px;
    --focus-outline-style: solid;
    --focus-outline-offset: 0.1rem;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-025: 0.25rem; /* 4px */
    --spacing-050: 0.5rem; /* 8px */
    --spacing-075: 0.75rem; /* 12px */
    --spacing-100: 1rem; /* 16px */
    --spacing-125: 1.125rem; /* 18px */
    --spacing-150: 1.5rem; /* 24px */
    --spacing-200: 2rem; /* 32px */
    --spacing-250: 2.5rem; /* 40px */
    --spacing-300: 3rem; /* 48px */
    --spacing-400: 4rem; /* 64px */
    --spacing-500: 5rem; /* 80px */
    --spacing-600: 6rem; /* 96px */
    /* Border radius values */
    --radius-0: 0px;
    --radius-005: 0.313rem; /* 5px */
    --radius-010: 0.625rem; /* 10px */
    --radius-015: 0.938rem; /* 15px */
    --radius-full: 9999px; /* 100% */
  }

  html {
    font-family: var(--ff-primary);
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  *:focus-visible {
    outline-color: var(--focus-outline-color);
    outline-width: var(--focus-outline-width);
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
  }

  body {
    min-height: 100vh;
    font-size: var(--fs-300);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-offwhite);
    color: var(--clr-blue-secondary);
  }

  /* 
  Use something similar for headings/body?
  font-size: clamp(1em, 0.9em + 1vw, 1.5em); 
  */
  h1 {
    font-size: var(--fs-700);
    /* color: hsl(220, 18%, 16%); */
    color: var(--clr-dm-primary);
  }

}

@layer layout {
  .wrapper {
    --wrapper-max-width: 730px;
    --padding-inline: var(--spacing-150);
    max-width: var(--wrapper-max-width);
    /* margin-inline: auto; */
    padding-inline: var(--padding-inline);

    @media (width > 36rem) {
      --padding-inline: var(--spacing-500);
    }
    @media (width > 60rem) {
      --padding-inline: 0;
    }
  }

  /* Header */
  .header {
    margin-bottom: 36px;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@layer components {
  .btn {
    --focus-outline-color: var(--clr-blue-secondary);
    padding: 0.975rem 1rem;
    cursor: pointer;
    font-family: inherit;
    font-size: var(--fs-400);
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    border: none;
    border-radius: var(--radius-010);
    background: var(--clr-blue-primary);
    color: var(--clr-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease-in-out;

    @media (--ms-high-contrast: active) {
      border: 2px solid currentColor;
    }

    @media (width > 36rem) {
      padding: 1rem 1.5rem;
    }

    &:hover,
    &:focus-visible {
      background: var(--clr-blue-secondary);
    }
  }

  /* Theme toggle styles */
  .mode-switch {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }

  .mode-icon {
    margin-left: 1rem;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  /* Search section */

  .search-form,
  .gh-results-grid {
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-015);
  }

  .search-form {
    position: relative;
    margin-bottom: var(--spacing-300);
    padding: var(--spacing-050);
    display: flex;
    align-items: center;
    gap: var(--spacing-050);
  }

  .search-input {
    padding-block: var(--spacing-050);
    padding-inline-start: var(--spacing-250);
    width: 100%;
    border: none;
    border-radius: var(--radius-005);
    font-size: inherit;
    background-image: url('../assets/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    color: inherit;
  }

  .search-input:focus {
    outline-color: var(--clr-blue-secondary__active);
    outline-width: 2px;
    outline-style: solid;
    border-radius: var(--radius-005);
  }

  .search-input::placeholder {
    font-size: var(--fs-300);
    letter-spacing: -0.5px;
    line-height: 1.9;
    color: var(--clr-blue-secondary);
    opacity: 0.7;

    @media (width > 36rem) {
      font-size: var(--fs-400);
    }
  }

  .search-form__alert {
    position: absolute;
    font-size: var(--fs-300);
    font-weight: 600;
    color: var(--clr-alert);
    right: var(--spacing-050);
    top: 115%;
  }

  /* Results section */
  .gh-results-grid {
    padding: 2rem 1.5rem 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: var(--spacing-125);
    row-gap: var(--spacing-150);

    @media (width > 36rem) {
      column-gap: var(--spacing-250);
      padding: var(--spacing-250);
    }
  }

  .gh-info__bio,
  .gh-info__data {
    grid-column: span 2;

    @media (width > 60rem) {
      grid-column: 2 / 3;
    }
  }

  .gh-info__bio {
    line-height: 1.9;
  }

  .gh-info__header {
    display: grid;
    gap: var(--spacing-025);

    @media (width > 36rem) {
      align-self: center;
    }

    @media (width > 60rem) {
      grid-template-columns: 1fr 1fr;

      .gh-user__date {
        justify-self: end;
      }
    }
  }

  .gh-user__avatar {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: var(--radius-full);
    object-fit: cover;

    @media (width > 36rem) {
      width: 7.5rem;
      height: 7.5rem;
    }

    @media (width > 60rem) {
      grid-row: span 3;
    }
  }

  .gh-user__name {
    margin-bottom: var(--spacing-025);
    font-size: var(--fs-500);
    color: var(--clr-lm-dark);
  }

  .gh-user__link {
    color: var(--clr-blue-primary);
    text-decoration: none;

    @media (width > 36rem) {
      font-size: var(--fs-400);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  /* GitHub User Table Data Styles */
  .gh-info__table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius-010);
    background: var(--clr-offwhite);
  }

  .gh-info__table th {
    padding-block-start: var(--spacing-125);
    padding-inline: 0;
    font-size: 0.7rem;
    font-weight: 400;

    @media (width > 36rem) {
      font-size: 0.825rem;
      text-align: left;
    }
  }

  .gh-info__table th:first-of-type,
  .gh-info__table td:first-of-type {
    padding-inline-start: var(--spacing-075);

    @media (width > 36rem) {
      padding-inline-start: var(--spacing-200);
    }
  }

  .gh-info__table th:last-of-type,
  .gh-info__table td:last-of-type {
    padding-inline-end: var(--spacing-075);
  }

  .gh-info__table td {
    padding-block: var(--spacing-075) var(--spacing-125);
    text-align: center;
    font-size: var(--fs-600);
    font-weight: 700;
    line-height: 1.1;
    color: var(--clr-lm-dark);

    @media (width > 36rem) {
      text-align: left;
    }
  }

  /* GitHub User Contact List Styles */
  .gh-user__contact-list {
    margin-top: var(--spacing-200);
    padding: 0;
    list-style: none;
    display: grid;
    gap: var(--spacing-100);
    align-items: center;

    @media (width > 40rem) {
      grid-template-areas:
        'location twitter'
        'website company';

      .location-li {
        grid-area: location;
      }

      .website-li {
        grid-area: website;
      }

      .twitter-li {
        grid-area: twitter;
      }

      .company-li {
        grid-area: company;
      }
    }
  }

  .gh-contact__list-item {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 13px;
  }

  .contact-link {
    text-decoration: none;
    color: var(--clr-blue-secondary);

    &:hover {
      text-decoration: underline;
    }
  }
}

@layer utilities {
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .not-available {
    opacity: 0.5;
  }

  /* Alert styles go here? */

  /* Check usage - delete if unnecessary */
  .grid-auto-fit {
    --auto-fit-min-col-size: 225px;

    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--auto-fit-min-col-size), 100%), 1fr)
    );
  }
}
