/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  /* light-mode */
  --clr-white: #FEFEFE;
  --clr-offwhite: #F6F8FF;
  --clr-blue-primary: #0079FF; 
  --clr-gray: #697C9A;
  --clr-blue-secondary: #4B6A9B;
  --clr-lm-dark: #2B3442;
  /* dark mode */
  /* active state search btn - both modes */
  --clr-blue-secondary__active: #60ABFF;
  --clr-dm-dark: #141D2F;
  --clr-dm-primary: #1E2A47; 
  /* box shadow */
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19856);
/* 
  font-family , monospace;
  font-weights - 400 (reg), 700 (bold)
*/
  --ff-body: 'Space Mono', monospace;
  /* font sizes, weights, line-heights*/
  /* 26px/700/38px line height */
  --fs-700: 1.625rem;
  /* 16px */
  --fs-600: 1rem;
  /* button - 14px */
  --fs-500: 0.875rem;
  /* Body - 13px/400/20px line height */
  --fs-400: 0.813rem;
  /* 11px */
  --fs-300: 0.7rem;
}

@media (min-width: 38em) {
  :root {
    /* 22px/700/33px line height */
    --fs-600: 1.375rem;
    /* 16px */
    --fs-500: 1rem;
    /* 15px */
    --fs-400: 0.938rem;
    /* 13px */
    --fs-300: 0.813rem;
  }
}

 
/* ======================== */
/* Reset and General Styles */
/* ======================== */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0 1.5em;
  font-family: var(--ff-body);
  text-align: left;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-offwhite);
  color: var(--clr-blue-secondary);
}

/* Typography */

.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }

h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-700);
  color: #222731;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-400);
}

h4 {
  font-size: var(--fs-300);
}

@media (min-width: 40em) {
  body {
    padding: 0 6em;
  }

  h2 {
    font-size: var(--fs-700);
  }
}


/* Utility classes */
.container {
  max-width: 730px;
  width: 100%;
  /* border: 1px solid gray; */
}

.sr-only {

}

/* Special Utility */
.not-available {
  opacity: 0.5;
}

/* Components*/
.btn {
  /* width: 100%; */
  padding: 0.9em 1.2em;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-500);
  font-weight: 700;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background: var(--clr-blue-primary);
  color: var(--clr-white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;

  transition: 200ms all ease-in-out;
}

@media (min-width: 40em) {
  .btn {
    padding: 0.8em 1.5em;
  }
}

/* Header */
.header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.mode-switch {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.mode-icon {
  margin-left: 1rem;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Search section */

.search-group,
.gh-results-grid {
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

.search-group {
  margin-bottom: 1rem;
  padding: 7px 7px 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  margin-right: 9px;
  object-fit: contain;
  width: 20px;
}

.search-input {
  /* make width 25% (mobile) when error text displays */
  width: 100%;
  border: none;
}

.search-input::placeholder {
  font-size: 13px;
  line-height: 25px;
  color: var(--clr-blue-secondary);
}

.error-text {
  display: none;
  font-size: 15px;
  line-height: 22.22px;
  color: #F74646;
}

@media (min-width: 40em) {
  .search-group {
    margin-bottom: 1.5rem;
    padding-left: 32px;
  }
  .search-icon {
    margin-right: 24px;
  }
  /* .search-input {
    width: 60%;
  } */
  .search-input::placeholder {
    font-size: 18px;
  }
}


/* Results section */
.gh-results-grid {
  padding: 2em 1.5em 3em;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
}

.gh-info__bio,
.gh-info__data {
  grid-column: span 2;
}

.gh-info__header {
  display: flex;
  gap: 1.125em;
}

.gh-user__avatar {
  max-width: 70px;
  border-radius: 50%;
  object-fit: contain;
}



.gh-user__name {
  color: var(--clr-lm-dark);
}

.gh-user__link {
  color: var(--clr-blue-primary);
  text-decoration: none;
}

.gh-user__link:hover {
  text-decoration: underline;
}

.user-meta > p {
  font-size: var(--fs-400);
}

.gh-user__bio {
  font-size: var(--fs-400);
}

@media (min-width: 40em) {

  .gh-info__header {
    gap: 2.25em;
  }
  .gh-user__avatar {
    max-width: 117px;
  }
  .gh-user__link {
    font-size: var(--fs-500);
  }

}

@media (min-width: 56em) {
  .gh-results-grid {
    padding: 3em;
    column-gap: 2.25em;
  }

  .gh-info__image {
    grid-row: span 3;
  }

  .gh-info__bio,
  .gh-info__data {  
    grid-column: 2 / 3;
  }

  .gh-info__header {
    padding-left: 0;
  }
  .user-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }


}

/* Github meta */
.gh-user__meta {
  margin-top: 1.5em;
  padding: 1.2em 0.875em;
  background: var(--clr-offwhite);
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;

  grid-area: userMeta;
}

.meta-col {
  text-align: center;
}

.meta-col > h4 {
  margin-bottom: .4em;
}

.meta-result {
  font-size: var(--fs-600);
  color: var(--clr-lm-dark);
}


/* User contact */

.gh-user__contact-list{
  margin-top: 2rem;
  padding: 0;
  font-size: var(--fs-400);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.gh-contact__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-link {
  text-decoration: none;
  color: var(--clr-blue-secondary);
}

.contact-link:hover {
  text-decoration: underline;
}

.icon-contact {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (min-width: 38em) {
  
  .gh-user__meta {
    margin-top: 2em;
    padding: 1em 2em;
  }

  .meta-col {
    text-align: left;
  }


}

@media (min-width: 42em) {
  .gh-user__contact-list{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gh-contact__list-item {
    min-width: 48%;
  }

  .location { order: 1 }
  .website { order: 3 }
  .twitter { order: 2 }
  .company { order: 4 }
}