/* ----------------- */
/* Custom Properties */
/* ----------------- */
@layer reset, base;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  p,
  li {
    text-wrap: wrap;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    /* Fonts and Font Sizes */
    --ff-primary: 'Space Mono', monospace;
    --fs-300: 0.7rem;
    --fs-400: 0.813rem;
    --fs-500: 0.875rem;
    --fs-600: 1rem;
    --fs-700: 1.625rem;
    @media (width > 40rem) {
      --fs-300: 0.813rem;
      --fs-400: 0.938rem;
      --fs-500: 1rem;
      --fs-600: 1.375rem;
    }
    /* Colors */
    /* light-mode */
    --clr-white: #fefefe;
    --clr-offwhite: #f6f8ff;
    --clr-blue-primary: #0079ff;
    --clr-gray: #697c9a;
    --clr-blue-secondary: #4b6a9b;
    --clr-lm-dark: #2b3442;
    /* dark mode */
    /* active state search btn - both modes */
    --clr-blue-secondary__active: #60abff;
    --clr-dm-dark: #141d2f;
    --clr-dm-primary: #1e2a47;
    /* box shadow */
    --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19856);
    /* Spacing */
    --spacing-0: 0px;
    --spacing-025: 0.25rem; /* 4px */
    --spacing-050: 0.5rem; /* 8px */
    --spacing-075: 0.75rem; /* 12px */
    --spacing-100: 1rem; /* 16px */
    --spacing-150: 1.5rem; /* 24px */
    --spacing-200: 2rem; /* 32px */
    --spacing-250: 2.5rem; /* 40px */
    --spacing-300: 3rem; /* 48px */
    --spacing-600: 6rem; /* 96px */
  }

  html {
    font-family: var(--ff-primary);
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-offwhite);
    color: var(--clr-blue-secondary);
  }

  h1 {
    font-size: var(--fs-700);
    color: #222731;
  }

  h2 {
    font-size: var(--fs-600);
  }

  h3 {
    font-size: var(--fs-400);
  }

  h4 {
    font-size: var(--fs-300);
  }

  @media (min-width: 40em) {
    body {
      padding: 0 6em;
    }

    h2 {
      font-size: var(--fs-700);
    }
  }
}

@layer layout {
  /* .wrapper {
    --wrapper-max-width: 730px;
    --padding-inline: var(--spacing-150);
    margin-inline: auto;
    width: min(
      100% - var(--padding-inline),
      var(--wrapper-max-width)
    );

    @media (width > 40rem) {
      --padding-inline: 0;
    }
  } */

  .wrapper {
    --wrapper-max-width: 730px;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--spacing-150);

  }


}

@layer components {
}

@layer utilities {
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .container {
    max-width: 730px;
    width: 100%;
    /* border: 1px solid gray; */
  }

  .fw-700 {
    font-weight: 700;
  }
  .fw-400 {
    font-weight: 400;
  }

  .not-available {
    opacity: 0.5;
  }
}

/* Components*/
.btn {
  padding: 0.9em 1.2em;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-500);
  font-weight: 700;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background: var(--clr-blue-primary);
  color: var(--clr-white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;

  transition: 200ms all ease-in-out;
}

.search-btn {
  margin-left: 0.5em;
}

@media (min-width: 40em) {
  .btn {
    padding: 0.8em 1.5em;
  }
}

/* Header */
.header {
  margin-bottom: 36px;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.mode-switch {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.mode-icon {
  margin-left: 1rem;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Search section */

.search-group,
.gh-results-grid {
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

.search-group {
  margin-bottom: 1rem;
  padding: 7px 7px 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  margin-right: 9px;
  object-fit: contain;
  width: 20px;
}

.search-input {
  /* make width 25% (mobile) when error text displays */
  padding: 1em 0.5em;
  width: 100%;
  max-height: 30px;
  border: none;
  border-radius: 5px;
  font-size: var(--fs-500);
}

.search-input:focus {
  outline-color: var(--clr-blue-secondary__active);
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
}

.search-input::placeholder {
  font-size: 13px;
  line-height: 25px;
  color: var(--clr-blue-secondary);
}

.error-text {
  display: none;
  font-size: 15px;
  line-height: 22.22px;
  color: #f74646;
}

@media (min-width: 40em) {
  .search-group {
    margin-bottom: 1.5rem;
    padding-left: 32px;
  }
  .search-icon {
    margin-right: 24px;
  }
  /* .search-input {
    width: 60%;
  } */
  .search-input::placeholder {
    font-size: 18px;
  }
}

/* Results section */
.gh-results-grid {
  padding: 2em 1.5em 3em;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  gap: 1em;
}

.gh-info__bio,
.gh-info__data {
  grid-column: span 2;
}

.gh-info__header {
  display: flex;
  gap: 1.125em;
}

.gh-user__avatar {
  max-width: 70px;
  border-radius: 50%;
  object-fit: contain;
}

.gh-user__name {
  color: var(--clr-lm-dark);
}

.gh-user__link {
  color: var(--clr-blue-primary);
  text-decoration: none;
}

.gh-user__link:hover {
  text-decoration: underline;
}

.user-meta > p {
  font-size: var(--fs-400);
}

.gh-user__bio {
  font-size: var(--fs-400);
}

@media (min-width: 40em) {
  .gh-info__header {
    gap: 2.25em;
  }
  .gh-user__avatar {
    max-width: 117px;
  }
  .gh-user__link {
    font-size: var(--fs-500);
  }
}

@media (min-width: 56em) {
  .gh-results-grid {
    padding: 3em;
    column-gap: 2.25em;
  }

  .gh-info__image {
    grid-row: span 3;
  }

  .gh-info__bio,
  .gh-info__data {
    grid-column: 2 / 3;
  }

  .gh-info__header {
    padding-left: 0;
  }
  .user-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}

/* Github meta */
.gh-user__meta {
  margin-top: 1.5em;
  padding: 1.2em 0.875em;
  background: var(--clr-offwhite);
  border-radius: 10px;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));; */
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em;
}

.meta-col {
  text-align: center;
}

.meta-col > h4 {
  margin-bottom: 0.4em;
}

.meta-result {
  font-size: var(--fs-600);
  color: var(--clr-lm-dark);
}

/* User contact */

.gh-user__contact-list {
  margin-top: 2rem;
  padding: 0;
  font-size: var(--fs-400);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.gh-contact__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-link {
  text-decoration: none;
  color: var(--clr-blue-secondary);
}

.contact-link:hover {
  text-decoration: underline;
}

.icon-contact {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (min-width: 38em) {
  .gh-user__meta {
    margin-top: 2em;
    padding: 1em 2em;
  }

  .meta-col {
    text-align: left;
  }
}

@media (min-width: 42em) {
  .gh-user__contact-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gh-contact__list-item {
    min-width: 48%;
  }

  .location {
    order: 1;
  }
  .website {
    order: 3;
  }
  .twitter {
    order: 2;
  }
  .company {
    order: 4;
  }
}
