/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  /* light-mode */
  --clr-white: #FEFEFE;
  --clr-offwhite: #F6F8FF;
  --clr-blue-primary: #0079FF; 
  --clr-gray: #697C9A;
  --clr-blue-secondary: #4B6A9B;
  --clr-lm-dark: #2B3442;
  /* dark mode */
  /* active state search btn - both modes */
  --clr-blue-secondary__active: #60ABFF;
  --clr-dm-dark: #141D2F;
  --clr-dm-primary: #1E2A47; 
/* 
  font-family , monospace;
  font-weights - 400 (reg), 700 (bold)
*/
  --ff-body: 'Space Mono', monospace;
  /* font sizes, weights, line-heights*/
  /* 26px/700/38px line height */
  --fs-700: 1.625rem;
  /* 16px */
  --fs-600: 1rem;
  /* button - 14px */
  --fs-500: 0.875rem;
  /* Body - 13px/400/20px line height */
  --fs-400: 0.813rem;
  /* 11px */
  --fs-300: 0.7rem;
}

@media (min-width: 40em) {
  :root {
    /* 22px/700/33px line height */
    --fs-600: 1.375rem;
    /* 16px */
    --fs-500: 1rem;
    /* 15px */
    --fs-400: 0.938rem;
    /* 13px */
    --fs-300: 0.813rem;
  }
}

 
/* ======================== */
/* Reset and General Styles */
/* ======================== */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 1.5em;
  font-family: var(--ff-body);
  text-align: left;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-offwhite);
  color: var(--clr-blue-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Typography */

.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }

h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-700);
  color: #222731;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-400);
}

h4 {
  font-size: var(--fs-300);
}

@media (min-width: 40em) {
  body {
    padding: 0 6em;
  }

  h2 {
    font-size: var(--fs-700);
  }
}


/* Utility classes */
.container {
  max-width: 730px;
  width: 100%;
  /* border: 1px solid gray; */
}

/* Components*/
.btn {
  /* width: 100%; */
  padding: 0.9em 1.2em;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-500);
  font-weight: 700;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background: var(--clr-blue-primary);
  color: var(--clr-white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;

  transition: 200ms all ease-in-out;
}

@media (min-width: 40em) {
  .btn {
    padding: 0.8em 1.5em;
  }
}

/* Header */
.header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.mode-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mode-switch {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

}

.mode-icon {
  margin-left: 1rem;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Search section */

.search-form,
.results-section {
  background-color: var(--clr-white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}

.search-form {
  margin-bottom: 1em;
  padding: 7px 7px 7px 16px;
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  display: flex;
}

.search-icon {
  margin-right: 9px;
  object-fit: contain;
  width: 20px;
}

.search-input {
  width: 100%;
  border: none;
}

.search-input::placeholder {
  font-size: 13px;
  line-height: 25px;
  color: var(--clr-blue-secondary);

}

@media (min-width: 40em) {
  .search-input::placeholder {
    font-size: 18px;
  }
}

/* Results section */

.results-section {
  padding: 2em 1.5em 3em;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-areas: 
    'userAvatar userHeader'
    'userBio userBio'
    'userMeta userMeta'
    'userContact userContact'
  ;
}

@media (min-width: 56em) {
   .results-section {

  }

}

.user-info__header {
  margin-left: 1.125em;
  display: flex;
  gap: 19px;
  grid-area: userHeader;
}

.user-name {
  color: var(--clr-lm-dark);
}

.user-handle {
  color: var(--clr-blue-primary);
}

.user-meta > p {
  font-size: var(--fs-400);
}

.avatar-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--clr-blue-primary);
  grid-area: userAvatar;
}

@media (min-width: 40em) {
  .avatar-container {
    width: 117px;
    height: 117px;
  }
  .user-info__header {
    gap: 2.5em;
  }
  .user-handle {
    font-size: var(--fs-500);
  }

}

.bio-container {
  grid-area: userBio;
}

.user-bio {
  margin-top: 2rem;
  font-size: var(--fs-400);
}

/* Github meta */
.github-meta {
  margin-top: 1.5em;
  padding: 1.2em 0.875em;
  background: var(--clr-offwhite);
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;

  grid-area: userMeta;
}


.meta-col {
  text-align: center;
}


.meta-col > h4 {
  margin-bottom: .4em;
}

.meta-result {
  font-size: var(--fs-600);
  color: var(--clr-lm-dark);
}


/* User contact */
.user-contact {
  margin-top: 2rem;
  font-size: var(--fs-400);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: userContact;
}

.contact-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.contact-item {
  /* display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 10% auto; */
  display: flex;
  gap: 1rem;

}

.icon-contact {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (min-width: 40em) {
  .github-meta {
    margin-top: 2em;
    padding: 1em 2em;
  }
  .meta-col {
    text-align: left;
  }
  .user-contact {
    flex-direction: row;
    gap: 4rem;
  }
}

