/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  /* light-mode */
  --clr-white: #FEFEFE;
  --clr-offwhite: #F6F8FF;
  --clr-blue-primary: #0079FF; 
  --clr-gray: #697C9A;
  --clr-blue-secondary: #4B6A9B;
  --clr-lm-dark: #2B3442;
  /* dark mode */
  /* active state search btn - both modes */
  --clr-blue-secondary: #60ABFF;
  --clr-dm-dark: #141D2F;
  --clr-dm-primary: #1E2A47; 
/* 
  font-family , monospace;
  font-weights - 400 (reg), 700 (bold)
*/
  --ff-body: 'Space Mono', monospace;

  /* font sizes, weights, line-heights*/
  /* 26px/700/38px line height */
  --fs-700: 1.625rem;
  /* 16px */
  --fs-600: 1rem;
  /* Body - 13px/400/20px line height */
  --fs-400: 0.825rem;
  /* 11px */
  --fs-300: 0.7rem;

}

@media (min-width: 40em) {
  :root {
    /* 22px/700/33px line height */
    --fs-600: 1.375rem;
    /* 15px */
    --fs-400: 0.938rem;
    /* 13px */
    --fs-300: 0.825rem;
  }
}

 
/* ======================== */
/* Reset and General Styles */
/* ======================== */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2em 1.5em;
  font-family: var(--ff-body);
  text-align: left;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-offwhite);
  color: var(--clr-lm-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Typography */

.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }

h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-400);
}

h4 {
  font-size: var(--fs-300);
}

@media (min-width: 38em) {
  h2 {
    font-size: var(--fs-700);
  }
}



/* Utility classes */
.container {
  max-width: 730px;
  width: 100%;
  border: 1px solid gray;
}


/* Header */
.header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.mode-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mode-switch {
  display: flex;
  font-size: var(--fs-400);
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

}

.mode-icon {
  margin-left: 1rem;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Search section */
.search-section {
  margin-bottom: 1em;
}

.search-form {
  padding: 1rem;
  width: 100%;
  display: flex;
  background-color: var(--clr-white);
  border-radius: 15px;
}

.search-input {
  border: none;
}